@import "~bulma/sass/utilities/functions.sass";
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/derived-variables.sass";

$htu-white-foreground: #ffffff;
$htu-blue-background: #2376b6;
$htu-blue-bright: #badaf2;
$htu-text: #111;

/**
 * Borders
 */
$borders: #d7d6de;
$backgrounds: #ecebf2;

/**
 * Text
 */
$purple-1: $htu-blue-bright;

/**
 * Background
 */
$purple-2: $htu-blue-bright;
$purple-3: $htu-blue-bright;

$orange-2: $htu-blue-bright;
$orange-3: $htu-blue-bright;

$yellow-2: $htu-blue-bright;

$primary: $htu-white-foreground;
$primary-invert: findColorInvert($primary);
$secondary: $htu-blue-background;
$secondary-invert: findColorInvert($secondary);

$background-color: $htu-blue-background;

$success: #0d8758;
$success-invert: findColorInvert($success);
$info: #36bcd4;
$info-invert: findColorInvert($info);
$danger: #cd2026;
$danger-invert: findColorInvert($danger);
$link: $secondary;
$link-invert: $secondary-invert;
$text: $htu-text;
$grey: #eaeaea;

$colors: map-merge(
  $colors,
  (
    "primary": (
      $primary,
      $primary-invert,
    ),
    "secondary": (
      $secondary,
      $secondary-invert,
    ),
    "success": (
      $success,
      $success-invert,
    ),
    "info": (
      $info,
      $info-invert,
    ),
    "danger": (
      $danger,
      $danger-invert,
    ),
    "link": (
      $link,
      $link-invert,
    ),
    "grey": (
      $grey,
      findColorInvert($grey),
    ),
  )
);

// Navbar
$navbar-background-color: $secondary;
$navbar-item-color: $background-color;
$navbar-height: 4rem;

// Footer
$footer-padding: 3rem 1.5rem 1rem;
$footer-background-color: $background-color;

$body-background-color: #efeef4;
$fullhd-enabled: false;
$hero-body-padding-medium: 6rem 1.5rem;

main > .container {
  background: $body-background-color;
  min-height: 70vh;
}

$title-color: $htu-text;
$title-family: "Liberation Sans", "Helvetica Neue", Roboto, Helvetica, Arial,
  serif;
$title-weight: 700;
$title-size: 40px;
$title-sub-size: 45px;
$title-sup-size: 30px;

$subtitle-color: $htu-text;
$subtitle-family: "Liberation Sans", "Helvetica Neue", Roboto, Helvetica, Arial,
  serif;
$subtitle-weight: 400;
$subtitle-size: 32px;
$subtitle-sub-size: 30px;
$subtitle-sup-size: 15px;

.subtitle {
  background: $secondary;
  display: inline;
  padding: 3px 8px;
  margin: 15px auto 30px;
}

//$input-border-color: #dbdbdb;
$breadcrumb-item-color: $primary;
$checkbox-background-color: $htu-white-foreground;
$title-color: $htu-text;

:root {
  --color-primary: 30 125 151;
  --color-secondary: 255 213 153;
  --color-violet-title: 66 64 86;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 30 125 151;
    --color-secondary: 255 213 153;
    --color-violet-title: 66 64 86;
  }
}
