<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 110">
    <title>HTU Logo</title>
    <g>
      <polygon
        points="38.54 43.46 21.02 33.34 21.02 13.11 38.54 2.99 56.06 13.11 56.06 33.34 38.54 43.46"
        style="fill: #fff"
      />
    </g>
    <g style="opacity: 0.2">
      <polygon
        points="57.08 75.58 39.56 65.46 39.56 45.23 57.08 35.11 74.61 45.23 74.61 65.46 57.08 75.58"
        style="fill: #fff"
      />
    </g>
    <g>
      <polygon
        points="20 75.58 2.48 65.46 2.48 45.23 20 35.11 37.52 45.23 37.52 65.46 20 75.58"
        style="fill: #fff"
      />
    </g>
    <g style="opacity: 0.2">
      <polygon
        points="94.17 75.58 76.65 65.46 76.65 45.23 94.17 35.11 111.69 45.23 111.69 65.46 94.17 75.58"
        style="fill: #fff"
      />
    </g>
    <g style="opacity: 0.2">
      <polygon
        points="75.63 107.7 58.11 97.58 58.11 77.35 75.63 67.23 93.15 77.35 93.15 97.58 75.63 107.7"
        style="fill: #fff"
      />
    </g>
    <g>
      <polygon
        points="38.54 107.7 21.02 97.58 21.02 77.35 38.54 67.23 56.06 77.35 56.06 97.58 38.54 107.7"
        style="fill: #fff"
      />
    </g>
    <polygon
      points="27.27 44.63 20.03 44.63 18.53 44.63 18.53 44.63 12.77 44.63 12.77 47.63 18.52 47.63 18.51 66.06 21.51 66.07 21.52 47.63 27.27 47.63 27.27 44.63"
      style="fill: #2376b6"
    />
    <rect x="30.89" y="13.11" width="3" height="20.23" style="fill: #2376b6" />
    <rect x="43.24" y="13.11" width="3" height="20.23" style="fill: #2376b6" />
    <rect
      x="32.39"
      y="21.71"
      width="12.36"
      height="3"
      transform="translate(-0.06 0.1) rotate(-0.15)"
      style="fill: #2376b6"
    />
    <path
      d="M38.34,99.67A7.69,7.69,0,0,1,30.66,92V77.35h3V92A4.68,4.68,0,1,0,43,92V77.35h3V92A7.7,7.7,0,0,1,38.34,99.67Z"
      style="fill: #2376b6"
    />
    <g style="opacity: 0.2">
      <polygon
        points="75.63 43.46 58.11 33.34 58.11 13.11 75.63 2.99 93.15 13.11 93.15 33.34 75.63 43.46"
        style="fill: #fff"
      />
    </g>
    <g>
      <path
        d="M179.7,78.71c-.6,3.57-3.15,5.43-7.31,5.43H148.51c-4.08,0-6.54-2.54-6.54-6.79V26.53l.59-.59H178a22.73,22.73,0,0,1,.42,4.5,17.79,17.79,0,0,1-.93,5.1h-24.3c0,2.21.08,3.65.08,5.86v8.75c2.12-.08,4.33-.08,5.52-.08h14.36a16.41,16.41,0,0,1,0,9.35H153.27v10c0,1.87-.08,3.32-.08,5.27,1.78-.08,3.65-.17,5.94-.17H180A26.37,26.37,0,0,1,179.7,78.71Z"
        style="fill: #fff"
      />
      <path
        d="M211.47,41.83a16.66,16.66,0,0,1,4.08-.43,17.91,17.91,0,0,1,5.7.85l.34.51c-3.66,12.66-9.27,31.7-12.41,41.21a63.06,63.06,0,0,1-8.24.51c-4.25,0-6.38-.93-7.82-5.69l-11-36.11a15.32,15.32,0,0,1,6.29-1.62c3.31,0,5.35,1.36,6.2,5l4.76,17.25c1.1,3.73,2,8.75,2.55,11.3.17.68.34.68.85.68Z"
        style="fill: #fff"
      />
      <path
        d="M235.18,66.47c.34,5.78,2.21,10,8.67,10a28,28,0,0,0,11.47-2.89,12.9,12.9,0,0,1,3.14,6.71,28.87,28.87,0,0,1-16.31,4.84c-14.28,0-18.27-10.7-18.27-22.09,0-12.75,5.69-22.43,18.35-22.43,11.13,0,17.34,7.81,17.34,18a27.4,27.4,0,0,1-.94,7.82Zm-.09-7.82H249.2v-1c0-4.93-1.95-9-7-9C237.64,48.63,235.43,52.19,235.09,58.65Z"
        style="fill: #fff"
      />
      <path
        d="M303.92,74.12c0,3.14.42,6,1.78,8.07a11.23,11.23,0,0,1-7,2.38c-4.42,0-5.95-2.38-5.95-6.88V57.89c0-4.76-.94-6.89-4.42-6.89A12.57,12.57,0,0,0,280,55.08V84a35,35,0,0,1-5.53.43,35.76,35.76,0,0,1-5.52-.43V41.91l.51-.59h4.25c3.4,0,5.27,1.87,5.95,5.1,3.57-3.06,7.81-5.36,12.74-5.36,7.82,0,11.56,6.12,11.56,14.53Z"
        style="fill: #fff"
      />
      <path
        d="M338.58,45.65a16.29,16.29,0,0,1-.51,4.08l-10.28-.17V71.91c0,2.46,1,3.91,3.66,3.91h5.26a18.11,18.11,0,0,1,.85,5.35,7.67,7.67,0,0,1-.25,2.46,75.65,75.65,0,0,1-10.2.77c-6.8,0-10.19-3.32-10.19-10.37V49.64l-6.46.09a16.26,16.26,0,0,1-.43-4.08,15.77,15.77,0,0,1,.43-3.91l6.46.09V35.71c0-4.93,1.53-6.8,6-6.8h4.25l.59.51V41.91l10.28-.17A16,16,0,0,1,338.58,45.65Z"
        style="fill: #fff"
      />
      <path
        d="M345.72,73.35c3.65,2,8.16,3.66,11.81,3.66,4,0,6.2-1.7,6.29-4.08,0-2-1.53-3.66-4.59-4.76l-4.76-1.79c-6-2.21-10.7-5.77-10.7-12.49,0-8.15,6.45-13.25,15.8-13.25A39.05,39.05,0,0,1,374.36,44c.08,2.63-1.36,6.37-3.15,7.82-3.23-1.45-7.48-3-11.64-3-3,0-4.76,1.62-4.76,3.83,0,1.87,1.36,3.06,4.25,4.16l5.18,1.87C370.62,61,375.29,65,375.29,71.91c0,8.16-6.8,13.25-16.74,13.25A33.35,33.35,0,0,1,342.41,81,13.28,13.28,0,0,1,345.72,73.35Z"
        style="fill: #fff"
      />
    </g>
  </svg>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Logo extends Vue {
  @Prop({ type: Boolean, required: false, default: false }) invert!: boolean;
}
</script>
<style lang="scss" scoped>
svg {
  fill: $background-color;

  &.invert {
    fill: $secondary;
  }
}
</style>
