<template>
  <span class="tag" :style="buttonStyle">
    <span>
      <slot />
    </span>
  </span>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Tag extends Vue {
  @Prop({ required: false }) color!: string | undefined;
  @Prop({ required: false }) bgColor!: string | undefined;

  get buttonStyle() {
    if (this.color && this.bgColor) {
      return {
        color: `#${this.color}`,
        background: `#${this.bgColor}`,
      };
    } else {
      return null;
    }
  }
}
</script>

<style lang="scss" scoped>
span.tag {
  background: $purple-3;
  color: $htu-text;
  text-transform: uppercase;
  white-space: normal !important;
  height: fit-content;
  min-height: 24px;
  padding: 3px 9px;

  &:not(.category)::before {
    content: "#";
  }

  &.category {
    background: $htu-blue-background;
    color: $htu-white-foreground;
  }
}
</style>
