<table style="border-spacing: 0; border-collapse: collapse; vertical-align: baseline; text-align: left; width: 100%; display: table; height: 180px; margin: 0 0 24px; padding: 0; border: 0;">
  <tbody style="vertical-align: baseline; margin: 0; padding: 0; border: 0;">
    <tr style="vertical-align: baseline; margin: 0; padding: 0; border: 0;" align="left">
      <td
        style="word-wrap: break-word; border-collapse: collapse; color: rgb(10,10,10); font-family: Helvetica,Arial,sans-serif; font-weight: normal; line-height: 1.3; font-size: 16px; margin: 0; padding: 0; border: 0;"
        valign="baseline"
        align="left"
      >
        <a
          href={Routes.page_url(Mobilizon.Web.Endpoint, :event, @event.uuid)}
          style="color: rgb(87,100,108); font-family: Helvetica,Arial,sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: none; vertical-align: baseline; margin: 0; padding: 0; border: 0;"
          target="_blank"
        >
          <div
            class="event-intro__banner_photo"
            style={
              "vertical-align: baseline; height: 180px; background: url(#{@event.picture.file.url}) center 40% / cover; margin: -1px -1px 10px; padding: 0; border: 0;"
            }
          >
          </div>
        </a>
      </td>
    </tr>
  </tbody>
</table>
